@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>

<address>
    ул.“Цветан Димов“<br />
    Скопје, бб<br />
    <abbr title="Phone">Телефон:</abbr>
    034 02 332 432
</address>

<address>
    <strong>Корисничка поддршка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>